<html>
<head>
    <title>Raven AI</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        body{
            margin: auto 10%;
        }
    </style>
</head>

<body>
    <div id="main">
        <div id="header">
            <h1 align="center">Raven AI</h1>
        </div>
        <div id="content">
            <h2>What we are doing</h2>
            <p>We are a tech company dedicated to developing an intelligent group assistant for Facebook Groups.</p>
            <p>Our product uses AI and machine learning to make managing and moderating Facebook Groups easier and more efficient. We are passionate about creating the best user experience possible for our users and helping them to maximize their social media presence.</p>
            <p>With Raven AI, you can be sure that your Facebook Groups will be managed in the most efficient and effective way.</p>
            <h2>What we are using</h2>
            <h3>ChatGPT <i class="el-icon-chat-line-square"></i> </h3>
            <p>ChatGPT is an open-source natural language processing (NLP) library that enables developers to easily create conversational interfaces. It is a transformer-based language model based on the GPT-4 model that is trained on conversation data. It can generate responses to user inputs, allowing for natural language conversations between users and bots.</p>
            <h3>Weaviate <i class="el-icon-s-data"></i></h3>
            <p>
Weaviate is a knowledge graph engine that helps developers understand and interpret user input, extract information from input data, and execute queries against a knowledge graph. It is built on the graph theory, and uses an object-oriented programming model to store, query, and explore data.</p>
            <p> With Weaviate, developers can develop applications that use natural language processing (NLP) to understand user intent, retrieve and store data, and query the knowledge graph.</p>
            <h3>Messenger bot <i class="el-icon-service"></i></h3>
            <p>A messenger bot is a type of chatbot that allows users to interact with a business or service via a messaging app like Facebook Messenger, Slack, or Telegram. The bot is programmed to understand and respond to specific commands and queries from the user, helping to quickly answer questions, provide information, and even complete transactions. </p>
            <p>The bots are powered by Artificial Intelligence (AI) and Natural Language Processing (NLP) technologies, enabling them to understand natural language and context so they can accurately provide answers to user queries. Messenger bots can be used for customer service, marketing, sales, and operations, making them an essential tool for businesses to stay connected with their customers.</p>
            <h2>Find us</h2>
            <p>Our project is open-source, meaning it is freely available for anyone to access, use, modify and share. This means that anyone can view and download the source code, make improvements to it, and even redistribute it under the same open-source license.</p>
            <p>We are always looking for contributors to help make our project even better, so if you have any suggestions or would like to get involved, please feel free to reach out. We would be more than happy to hear from you.</p>
            <p>You can find us <a href="https://github.com/ravenaiapp">here</a>.</p>
        </div>
        <div id="footer" align="center">
            © 2023 Raven AI. All Rights Reserved.
            <br>
            <i class="el-icon-map-location"></i>388 Tianlin Road, Xuhui District, Shanghai
            <br>
            <i class="el-icon-message"></i>info@ravenapp.link
        </div>
    </div>
</body>
</html>
